:root {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    color-scheme: light dark;
    color: var(--color-text);
    background: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --zefir-scale: 1;
    --zefir-spacing-xs: calc(0.625rem * var(--zefir-scale));
    --zefir-spacing-sm: calc(0.75rem * var(--zefir-scale));
    --zefir-spacing-md: calc(1rem * var(--zefir-scale));
    --zefir-spacing-lg: calc(1.25rem * var(--zefir-scale));
    --zefir-spacing-xl: calc(2rem * var(--zefir-scale));
    --zefir-font-size-sm: calc(0.875rem * var(--zefir-scale));
}

.no-select {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE11/Edge */
    -webkit-touch-callout: none; /* Disable long press callout on iOS */
    -webkit-tap-highlight-color: transparent; /* Remove gray tap highlight */
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    text-align: center;
}

.p-tabview .p-tabview-nav .p-tabview-nav-link {
    background-color: #242424;
}

.p-tabview-nav {
    justify-content: center;
    background: #242424;
}

.p-tabview-panels {
    height: 100%;
    width: 100%;
    background: #242424;
}

.p-card {
    background-color: #2e2e2e;
    border-radius: calc(0.125rem * 2);
}

.p-card-title {
    font-size: 14px;
    font-weight: 300;
}

.p-inputtext {
    border-radius: calc(0.125rem * 1);
    background-color: #3b3b3b;
    color: #c9c9c9;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    height: calc(1.875rem * 1);
    line-height: calc(calc(1.875rem * 1) - calc(0.125rem * 1));
    font-size: 12px;
    width: 100%;
    min-width: 10px;
} /* trzeba mi na razie do styledinputnumbera */

.p-inputnumber-input {
    width: auto;
    min-width: 10px;
}

::-webkit-scrollbar-corner {
    background: #00000000;
}
::-webkit-scrollbar {
    width: 6px;
    /* background-color: #2a2a2a; */
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-scrollbar);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0); */
}

.container {
    background: var(--container-gradient);
    border-left: var(--color-dark-border) 4px solid;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.shadowed {
    transition: box-shadow 0.5s ease;
}

.shadowed:hover {
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.15),
        0 4px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.1s ease;
}
