# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
    # Runs on pushes targeting the default branch
    push:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

# Allow one concurrent deployment
concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    # Single deploy job since we're just deploying
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install pnpm
              run: npm install -g pnpm
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install
            - name: Find and Replace Password - Using Secrets
              env:
                  SUPA_URL: ${{ secrets.SUPA_URL }}
                  SUPA_KEY: ${{ secrets.SUPA_KEY }}
              run: |
                  echo "Replacing #{SUPA_URL}# with $SUPA_URL";
                  find . -name '.env' -type f -exec sed -i "s/#{SUPA_URL}#/${SUPA_URL//\//\\/}/g" {} \;
                  find . -name '.env' -type f -exec sed -i "s/#{SUPA_KEY}#/${SUPA_KEY//\//\\/}/g" {} \;
            - name: Build
              run: pnpm run build && cp ./dist/index.html ./dist/404.html
            - name: Create CNAME file
              run: |
                  echo "www.example.com" > ./dist/CNAME
            - name: Setup Pages
              uses: actions/configure-pages@v3
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  # Upload dist repository
                  path: "./dist"
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
